@import url("general.css");

body{
    background-color: var(--colorOscuro);
}
#container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

h1,
h2 {
    color: var(--colorRojo);
    margin-top: 30px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    font-size: 2em;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

#correo{
    margin: 0;
}

section {
    background-color: var(--colorClaro);
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}